*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    background: #DFE7EE;
    padding: 20px 2px;
    margin: 10px 10px;
}

h1,
h2,
h3,
p {
    color: black;
}

/* --Header and Nav Styles --*/

.main-header {
    margin: 0;
}

.main-nav {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 1em;
    padding: 0;
}

.name,
.main-nav a {
    text-align: center;
}

.main-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    display: block;
}

.main-nav li {
    margin-bottom: 5px;
    background: gray;
}


.main-nav a:hover {
    color: lightblue;
    transition: 0.3s;
}

/* --Intro Styles --*/
.profile-img {
    width: 80%;
}

.banner {
    margin: 0;
    text-align: center;
}

/* --Portfolio Styles --*/
.portfolio-img {
    width: 100%;
}

.portfolio {
    background-color: gray;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
}

/* --Skills Styles --*/

.skills {
    text-align: center;
    background: white;
    margin: 10px 5px;
    padding: 10px;
}

/* --Contact Styles --*/
.contact {
    text-align: center;
}

.contact-link {
    text-decoration: none;
    color: gray;
}

/* --Footer--*/
.footer {
    border-top: 1px solid slategray;
}

.footer-name {
    float: left;
}

.to-top {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    margin: 18.72px 0px;
    color: rgb(0, 0, 0);
}

.main-nav-bottom li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.main-nav-bottom a:hover {
    color: pink;
    transition: 0.3s;
}

.main-nav-bottom li {
    display: none;
}

/* --Clearfix --*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* --Media Queries --*/

@media (min-width: 768px) {

    .main-nav li {
        display: inline-block;
    }

    .main-nav {
        text-align: center;
    }

    .name {
        font-size: 3em;
        margin-bottom: 5px;
    }

    .profile-img {
        float: right;
        width: 40%;
        padding-bottom: 10px;
    }

    .intro-text {
        float: left;
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }

    .banner {
        margin: 10px;
    
    }

    .portfolio {
        margin: 10px;
    }


    .marketing, 
    .search {
        width: 50%;
        float: left;
        padding: 2px 5px;


    }

    .travel,
    .map {
        width: 50%;
        float: left;
        padding: 2px 5px;

    }

    .photos,
    .calculator {
        width: 50%;
        float: left;
        padding: 2px 5px;

    }

    .skills p {
        float: left;
        width: 60%;
        padding: 60px 20px;
        text-align: left;

    }

    .comp-img {
        float: right;
        width: 30%;
        padding-bottom: 30px;
        padding-right: 20px;
    }

    .contact {
        padding: 10px 50px;
    }

    .to-top {
        display: none;
    }

    .main-nav-bottom li {
        display: inline-block;
    }

    .container {
        float:right;
    }
}


@media (min-width: 1024px) {

    .name {
        float:left;
        padding-bottom: 40px;
        margin-left: 10px;
        padding-left: 10px;
    }

    .main-nav {
        display: inline-block;
        float: right;
        margin-top: 40px;
    }


    .marketing, 
    .search {
        width: 33%;
        float: left;
        padding: 6px;


    }

    .travel,
    .map {
        width: 33%;
        float: left;
        padding: 6px;

    }

    .photos,
    .calculator {
        width: 33%;
        float: left;
        padding: 6px;
    }

    .contact {
        padding: 10px 200px;
    }

}